body {
	background: #EEEEEE;
	font-family: Arial;
	padding: 0px;
	margin: 0px;
}

.footerlogo {
	min-width: 10em;
	width: 23%;
	text-align: center;
	vertical-align: top;
	padding-left:20px;
	display: inline-block;
	text-align: left;
}

.footercell {
	min-width: 10em;
	width: 30%;
	text-align: center;
	vertical-align: top;
	padding-left:20px;
	display: inline-block;
	text-align: left;
}

h4 {
	color: #888888;
	margin-bottom: 10px;
	text-transform: uppercase;
}

a, a:visited, a:hover, a:focus, a:active {
	color: #38b5ad;
}
