body {
    background: #EEEEEE;
    font-family: Arial, serif;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
}

#menu {
    padding: 50px 0;
}

a, a:visited, a:hover, a:focus, a:active {
    color: #38b5ad;
    text-decoration: none;
}

#menu .footercell {
    min-width: 10em;
    width: 30%;
    vertical-align: top;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
}


#header {
    text-align: center;
}

.header_logo {
    vertical-align: middle;
    padding: 10px;
    width: 80px;
}

h2 {
    color: #486791;
    font-size: 1.4rem;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    font-weight: 100;
}

h4 {
    color: #888888;
    margin-bottom: 10px;
    text-transform: uppercase;
}


#content {
    margin: auto;
    width: 80%;
    text-align: left;
}

.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    width: 100%;
    margin-top: 50px;
}

#footer a {
    color: #486791;
    font-size: 0.8em;
    text-decoration: none;
}

.logo {
    min-width: 10em;
    vertical-align: top;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
}

.footer_logo {
    padding: 20px;
    width: 100px;
}

#language_switch {
    text-align: right;
    padding: 10px;
}

#funding {
    margin-top: 50px;
}

#funding table {
    text-align: center;
    margin: auto;
}

.funding_logo {
    width: 250px;
    margin: 0 20px;
}