<div width="100%">
	<div class="footercell">
		<img src="/images/logo_luftdaten.svg" style="padding: 20px;">
	</div>
	<div class="footercell">
		<h4>Main</h4>
		<a href="">Assembly Guide</a><br>
		<a href="">Sensor data</a>
	</div>
	<div class="footercell">
		<h4>Resources</h4>
		<a href="">Github</a><br/>
		<a href="">API</a>
	</div>
	<div class="footercell">
		<h4>Community</h4>
		<a href="">Mattermost</a><br/>
		<a href="">Discourse</a>
	</div>
</div>
<br/><br/>
<div style="width: 100%; text-align: center;">
<a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
</div>
