<div id="menu">
    <div class="container">
<!--        <div class="logo">
            <img src="/images/logo_luftdaten.svg" class="footer_logo" alt="sensor.community logo">
        </div> -->
        <div class="entry_blocks">
            <div class="footercell">
                <h4>{% t footer.mission %}</h4>
                <a href="{% tl mission %}">{% t footer.mission %}</a><br/>
            </div>
            <div class="footercell">
                <h4>{% t footer.data %}</h4>
                <a href="https://archive.sensor.community/">{% t footer.sensor_data %}</a><br/>
                <a href="https://stats.sensor.community/">{% t footer.statistics %}</a><br/>
            </div>
            <div class="footercell">
                <h4>{% t footer.community_projects %}</h4>
<!--			<a href="{% tl apps%}">{% t community_projects.apps %}</a><br/>
				<a href="{% tl local_heroes%}">{% t community_projects.local_heroes %}</a><br/>
				<a href="{% tl partner%}">{% t community_projects.partner %}</a><br/>
				<a href="{% tl analysis_tools%}">{% t community_projects.analysis_tools %}</a><br/> -->
				{% t community_projects.apps %} (coming soon)<br/>
				{% t community_projects.local_heroes %} (coming soon)<br/>
				{% t community_projects.partner %} (coming soon)<br/>
				{% t community_projects.analysis_tools %} (coming soon)<br/>
            </div>
            <div class="footercell">
                <h4>{% t footer.assembly_guide %}</h4>
                <a href="{% t footer.guide_pm_sensor_link %}">{% t footer.guide_pm_sensor_text %}</a><br/>
            </div>
            <div class="footercell">
                <h4>Code</h4>
                <a href="https://github.com/opendata-stuttgart/">Github</a><br/>
                <a href="https://data.sensor.community/">API</a><br/>
            </div>
            <div class="footercell">
                <h4>FAQ</h4>
                <a href="https://forum.sensor.community/">Discourse (coming soon)</a><br/>
            </div>
        </div>
    </div>
</div>
