<div id="menu">
    <div class="container">
        <div class="logo">
            <img src="/images/logo_luftdaten.svg" class="footer_logo" alt="sensor.community logo">
        </div>
        <div style="display: inline-block; width: 70%;">
            <div class="footercell">
                <h4>Main</h4>
                <a href="https://luftdaten.info/en/construction-manual/">{% t footer.assembly_guide %}</a><br/>
                <a href="https://archive.sensor.community/">{% t footer.sensor_data %}</a><br/>
                <a href="https://stats.sensor.community/">{% t footer.statistics %}</a><br/>
            </div>
            <div class="footercell">
                <h4>Resources</h4>
                <a href="https://github.com/opendata-stuttgart/">Github</a><br/>
                <a href="https://data.sensor.community/">API</a><br/>
            </div>
            <div class="footercell">
                <h4>Community</h4>
                <a href="https://forum.sensor.community/">Discourse (coming soon)</a><br/>
            </div>
        </div>
    </div>
</div>
